@import '~base/colors.scss';

.Agthy-Starter {
  $width: 30px;

  position: fixed;
  right: 10px;
  bottom: 10px;
  width: $width;
  height: $width;
  border: 1px solid $color-primary;
  border-radius: 5px;
  cursor: pointer;
  background-color: $backgrounds;
  color: $color-primary;

  > i.anticon-smile-o {
    font-size: calc(#{$width} * 0.60);
    line-height: $width;
  }
}
