@import '~base/colors.scss';

.Agthy-Starter {
  $width: 50px;

  width: $width;
  height: $width;
  cursor: pointer;

  > i.anticon-smile-o {
    font-size: calc(#{$width} * 0.60);
    line-height: $width;
  }
}
